.github-icon {
  background-image: url("./../svg/github.svg");
}
.telegram-icon {
  background-image: url("./../svg/telegram.svg");
}
.link-icon {
  width: 20px;
  height: 20px;
  background-image: url("./../svg/link.svg");
}
