.link_icon {
  width: 20px;
  height: 20px;
  background-image: url("./../svg/link.svg");
}

.github_icon {
  background-image: url("./../svg/github.svg");
}

.telegram_icon {
  background-image: url("./../svg/telegram.svg");
}
